/* bfs specific styles css */

// MESZ Timetable
#mesz {
  clear: right;
  float: right;
  font-size: 80%;
  table {
    width: auto;
    float: right;
  };
  td {
    padding:0.2rem;
    text-align: right;
  }
  .zone {
    padding-right: 0.2em;
  }
  .time {
    padding-right: 0.2em;
  }
}
