.git
.gitignore
backend/bin
backend/downloads
backend/blobs
backend/eggs
backend/develop-eggs
backend/parts
backend/\.installed\.cfg
backend/\.mr\.developer\.cfg
backend/etc/varnish.vcl
backend/var
backend/venv
backend/src/docpool\.theme/docpool\.theme\.egg-info
backend/src/docpool\.users/docpool\.users\.egg-info
backend/src/elan\.dbaccess/elan\.dbaccess\.egg-info
backend/src/docpool\.menu/docpool\.menu\.egg-info
backend/src/wsapi4elan\.core/wsapi4elan\.core\.egg-info
backend/src/wsapi4plone\.core/wsapi4plone\.core\.egg-info
backend/src/docpool\.visualization/docpool\.visualization\.egg-info
*.egg-info
*.pyc
*.mo
backend/start_pg
backend/\.settings
backend/\.pydevproject\.bak
backend/\.pydevproject
.project
.pydevproject
.idea
.DS_Store
.settings
backend/etc/zodbpack.conf
