Plone/bin
Plone/include
Plone/lib
Plone/local
Plone/downloads
Plone/blobs
Plone/eggs
Plone/develop-eggs
Plone/parts
Plone/\.installed\.cfg
Plone/\.mr\.developer\.cfg
Plone/etc/varnish.vcl
Plone/var
Plone/venv
Plone/src/collective.geo.mapwidget
Plone/src/collective.geo.settings
Plone/src/experimental.gracefulblobmissing
*.egg-info
*.pyc
*.mo
Plone/start_pg
Plone/\.settings
Plone/\.pydevproject\.bak
Plone/\.pydevproject
.project
.pydevproject
.idea
.DS_Store
.settings
Plone/etc/zodbpack.conf
.plone.versioncheck.tracked.json
# node modules webpack theme
Plone/src/docpool.theme/docpool/theme/webpack_resources/node_modules
Plone/src/docpool.theme/docpool/theme/webpack_resources/.plone
.python-version
# direnv config
Plone/.envrc
