Plone/bin
Plone/downloads
Plone/blobs
Plone/eggs
Plone/develop-eggs
Plone/parts
Plone/\.installed\.cfg
Plone/\.mr\.developer\.cfg
Plone/etc/varnish.vcl
Plone/var
Plone/venv
Plone/src/docpool\.theme/docpool\.theme\.egg-info
Plone/src/docpool\.users/docpool\.users\.egg-info
Plone/src/elan\.dbaccess/elan\.dbaccess\.egg-info
Plone/src/docpool\.menu/docpool\.menu\.egg-info
Plone/src/wsapi4elan\.core/wsapi4elan\.core\.egg-info
Plone/src/wsapi4plone\.core/wsapi4plone\.core\.egg-info
Plone/src/docpool\.visualization/docpool\.visualization\.egg-info
Plone/src/collective.geo.mapwidget
Plone/src/collective.geo.settings
*.egg-info
*.pyc
*.mo
Plone/start_pg
Plone/\.settings
Plone/\.pydevproject\.bak
Plone/\.pydevproject
.project
.pydevproject
.idea
.DS_Store
.settings
Plone/etc/zodbpack.conf
local-develop.cfg
.plone.versioncheck.tracked.json
