backend/bin
backend/include
backend/lib
backend/local
backend/downloads
backend/blobs
backend/eggs
backend/develop-eggs
backend/parts
backend/\.installed\.cfg
backend/\.mr\.developer\.cfg
backend/etc/varnish.vcl
backend/var
backend/venv
backend/.venv
backend/src-mrd/
*.egg-info
*.pyc
*.mo
backend/start_pg
backend/\.settings
backend/\.pydevproject\.bak
backend/\.pydevproject
.project
.pydevproject
.idea
.DS_Store
.settings
backend/etc/zodbpack.conf
.plone.versioncheck.tracked.json
# node modules webpack theme
node_modules/
backend/src/docpool.theme/docpool/theme/static/build/*
.python-version
.plone.versioncheck.cache/
backend/.vscode/
