@import "header";
@import "sidebar";
$plone-default-private-color: #ad4541;
$plone-default-pending-color: #ccd111;
$plone-default-pending_bfs-color: #ffaa00;
$plone-default-pending_authority-color: #d07317;
$plone-default-pending_bmu-color: #75a30a;
$plone-default-published-color: #2c445e;
$plone-default-revised-color: #7a561f;

.outer-wrapper {
  padding-left: 205px;
}

.filter-form-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;

  .filter-form {
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      font-weight: bold;
    }

    select {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ced4da;
    }
  }
}

img.doktype-icon {
  width: 100%;
  filter: invert(24%) sepia(6%) saturate(3251%) hue-rotate(170deg)
    brightness(97%) contrast(93%);
}

.card-body.review-state {
  padding: 0.3rem;

  p.small {
    font-size: 0.6em;
  }

  &.state-published {
    color: #fff !important;
    background-color: $plone-default-published-color;
  }

  &.state-private {
    color: #fff !important;
    background-color: $plone-default-private-color;
  }

  &.state-pending {
    color: #fff !important;
    background-color: $plone-default-pending-color;
  }

  &.state-pending_bfs {
    color: #000 !important;
    background-color: $plone-default-pending_bfs-color;
  }

  &.state-pending_bmu {
    color: #fff !important;
    background-color: $plone-default-pending_bmu-color;
  }

  &.state-revised {
    color: #fff !important;
    background-color: $plone-default-revised-color;
  }
}

#listing > a {
  display: block;
  min-height: 84px;
}

#listing > a.pat-inject.executed {
  height: auto;
}

#listing a {
  text-decoration: none;
}

#listing .listing-item {
  .doctype-box {
    min-width: 95px;
  }
}

div.pat-modal .header {
  height: auto !important;
}

div.pat-modal {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 90vh;
  min-height: 90vh;
  background-color: white;
}

div.pat-modal.large {
  width: 90vw;
  margin-left: -45vw;
}

div.pat-modal::after {
  background-color: rgba(15, 15, 15, 0.84);
}

#portal-mainnavigation #portal-globalnav a {
    color: #222 !important;
}

#portal-logo {
  float: left;
}
