@import "header";
@import "sidebar";
@import "overview";
@import "footer";
@import "search";

$plone-default-private-color: #b74d48;
$plone-default-pending-color: #e5bc4a;
$plone-default-pending_bfs-color: #e5bc4a;
$plone-default-pending_authority-color: #d07317;
$plone-default-pending_bmu-color: #75a30a;
$plone-default-published-color: #324d6a;
$plone-default-revised-color: #d4d4d4;

:root {
  --bs-gray-light: #f1f3f6;
  --bs-gray-dark: #d9d9d9;
  --bs-blue-gray: #6a829d;
  --bs-link-color-rgb: 15, 34, 55;
  --bs-link-hover-color-rgb: 12, 27, 44;
  --bs-primary: #324d6a; /* Graublau Dunkel1 */
  --bs-warning: #fed86c; /* Gelb Main */
  --bs-light: #e1e6eb; /* Graublau Hell3 */
  --bs-light-blue: #c3dce7; /* Hellblau(Hell2) */
  --bs-btn-font-size: 0.75rem;
// Bootstrap default:
// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
  --dp-font-title: 1rem; /* 16px */
  --dp-font-body: 0.85rem; /* 13px */
  --dp-font-small: 0.75rem; /* 12px */
}

.btn {
  font-size: var(--dp-font-small);
}

.btn-icon {
  font-size: var(--dp-font-title);
}

.btn-light {
  --bs-btn-border-color: #e7f1f5;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-hover-bg: #e7f1f6;
  --bs-btn-active-bg: #c3dce7;
  --bs-btn-color: #324d6a;
  --bs-btn-hover-color: #324d6a;
  --bs-btn-active-color: #324d6a;
  --bs-btn-hover-border-color: #e7f1f6;
  --bs-btn-active-border-color: #c3dce7;
}

body {
  /* Fallback for browsers that don't support dvh */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.filter-form-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;

  .filter-form {
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      font-weight: bold;
    }

    select {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ced4da;
    }
  }
}

.card-body.review-state {
  padding: 0.3rem;

  p.small {
    font-size: var(--dp-font-small);
    line-height: 1.2em;
  }

  &.state-published {
    color: #fff !important;
    background-color: $plone-default-published-color;
  }

  &.state-private {
    color: #fff !important;
    background-color: $plone-default-private-color;
  }

  &.state-pending {
    color: #000 !important;
    background-color: $plone-default-pending-color;
  }

  &.state-pending_bfs {
    color: #000 !important;
    background-color: $plone-default-pending_bfs-color;
  }

  &.state-pending_bmu {
    color: #fff !important;
    background-color: $plone-default-pending_bmu-color;
  }

  &.state-pending_authority {
    color: #fff !important;
    background-color: $plone-default-pending_authority-color;
  }

  &.state-revised {
    color: #fff !important;
    background-color: $plone-default-revised-color;
  }
}

#listing-filters {
  background-color: #fafafa;
  position: sticky;
  top: 72px;
  z-index: 900;

  .dropdown-menu {
    max-height: 60vh;
    overflow-y: scroll;
  }
}

#listing {
  & > a {
    display: block;
    min-height: 80px;
    text-decoration: none;

    &.pat-inject.executed {
      height: auto;
    }
  }

  .listing-item {
    position: relative;
    z-index: 1;

    &:has(.dropdown-menu.show) {
      z-index: 1050;
    }

    .dateinfo {
      width: 80px;
      font-size: var(--dp-font-body);

      .small {
        font-size: var(--dp-font-small);
        color: $plone-default-published-color;
      }
    }

    .doctype-box {
      width: 80px;

      .doktype-icon-container {
        background-color: var(--bs-gray-light);
        padding: 10px 0px 6px 0;

        .plone-icon.entrytype {
          width: 40px;
          height: 40px;
          fill: var(--bs-primary);

          path {
            fill: var(--bs-primary);
          }
        }
      }
    }

    .text-box {
      display: grid;
      width: 50%;

      h3 {
        font-size: var(--dp-font-title);
        color: #0f2237;
      }

      .description {
        font-size: var(--dp-font-body);
        color: $plone-default-published-color;
      }
    }

    .dp-document-creator {
      font-size: var(--dp-font-small);
    }

    .dp-document-dropdown {
      right: 0;
      z-index: 2;

      .dropdown-menu {
        z-index: 1000;
      }
    }
  }
}

#edit-zone .nav-link,
#edit-zone .dropdown-item,
#edit-zone .toolbar-header a,
#edit-zone .toolbar-label {
  font-size: var(--dp-font-small);
}

.documentByLine,
.documentByLine .documentAuthor,
.documentByLine .documentPublished,
.documentByLine .documentCreated {
  font-size: var(--dp-font-small);
}

div.pat-modal .header {
  height: auto !important;
}

// Modals - Can be removed?
div.pat-modal {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  min-height: 90vh;
  background-color: #fff;

  &::after {
    background-color: rgba(15, 15, 15, 0.84);
  }

  .header {
    height: auto !important;
  }

  &.large {
    width: 90vw;
    margin-left: -45vw;
  }
}

#portal-logo {
  float: left;
}

.preview-tile {
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-color: var(--bs-gray-light);
  color: var(--bs-blue-gray);
}

#portal-footer {
  margin-top: auto;
  background-color: #f8f9fa !important;
  min-height: 48px;
}

// Temp Stuff
#portal-mainnavigation {
  display: none;
}

body.template-listing,
body.template-entrytypes {
  header h1,
  #content header {
    display: none;
  }
}

body.template-listing .autotoc-nav,
body.portaltype-dpdocument.template-edit .autotoc-nav {
  display: none !important;
}

//DPDocument Details
.dp-document-header {
  background-color: #fafafa;

  .list-group-item a:not([href]) {
    cursor: default;
    color: gray;
    text-decoration: none;
    opacity: 0.5;
  }
}

body.template-entrytypes {
  .outer-wrapper {
    background-color: #fafafa;
  }

  .entrytypes .item {
    width: 25em;
  }

  .entrytypes img {
    width: 32px;
    height: 32px;
    max-width: 32px;
  }

  .entrytypes .entrytype {
    padding: 15px 10px;
    min-width: 25em;

    &:hover {
      background-color: #e7f1f6;
    }
  }
}

// Wizard
span.badge.visibility-option-private {
  color: #fff !important;
  background-color: $plone-default-private-color;
  padding: 0.8em 1.6em;
  font-size: 0.8em;
}

span.badge.visibility-option-published {
  color: #fff !important;
  background-color: $plone-default-published-color;
  padding: 0.8em 1.6em;
  font-size: 0.8em;
}

.wizard-field svg.entrytype {
  height: 1.5em;
  vertical-align: top;
}
