@import "header";
@import "sidebar";

$plone-default-private-color: #b74d48;
$plone-default-pending-color: #e5bc4a;
$plone-default-pending_bfs-color: #e5bc4a;
$plone-default-pending_authority-color: #d07317;
$plone-default-pending_bmu-color: #75a30a;
$plone-default-published-color: #324d6a;
$plone-default-revised-color: #d4d4d4;

:root {
  --bs-gray-light: #f1f3f6;
  --bs-gray-dark: #d9d9d9;
  --bs-blue-gray: #6a829d;
}

.btn-light {
  --bs-btn-border-color: #e7f1f5;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-hover-bg: #e7f1f6;
  --bs-btn-active-bg: #c3dce7;
  --bs-btn-color: #324d6a;
  --bs-btn-hover-color: #324d6a;
  --bs-btn-active-color: #324d6a;
  --bs-btn-hover-border-color: #e7f1f6;
  --bs-btn-active-border-color: #c3dce7;
}

.outer-wrapper {
  padding-left: var(--sidebar-width);
}

.filter-form-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;

  .filter-form {
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      font-weight: bold;
    }

    select {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid #ced4da;
    }
  }
}

img.doktype-icon {
  width: 100%;
  filter: invert(24%) sepia(6%) saturate(3251%) hue-rotate(170deg) brightness(97%) contrast(93%);
}

.card-body.review-state {
  padding: 0.3rem;

  p.small {
    font-size: 0.6rem;
    line-height: 1.2em;
  }

  &.state-published {
    color: #fff !important;
    background-color: $plone-default-published-color;
  }

  &.state-private {
    color: #fff !important;
    background-color: $plone-default-private-color;
  }

  &.state-pending {
    color: #000 !important;
    background-color: $plone-default-pending-color;
  }

  &.state-pending_bfs {
    color: #000 !important;
    background-color: $plone-default-pending_bfs-color;
  }

  &.state-pending_bmu {
    color: #fff !important;
    background-color: $plone-default-pending_bmu-color;
  }

  &.state-pending_authority {
    color: #fff !important;
    background-color: $plone-default-pending_authority-color;
  }

  &.state-revised {
    color: #fff !important;
    background-color: $plone-default-revised-color;
  }
}

#listing-filters {
  background-color: #fafafa;
  position: sticky;
  top: 72px;
  z-index: 900;

  .dropdown-menu {
    max-height: 60vh;
    overflow-y: scroll;
  }
}

#listing {
  & > a {
    display: block;
    min-height: 80px;
    text-decoration: none;

    &.pat-inject.executed {
      height: auto;
    }
  }

  .listing-item {
    position: relative;
    z-index: 1;

    &:has(.dropdown-menu.show) {
      z-index: 1050;
    }

    .dateinfo {
      width: 80px;
      font-size: 14px;

      .small {
        font-size: 10px;
        color: $plone-default-published-color;
      }
    }

    .doctype-box {
      width: 80px;

      .doktype-icon-container {
        background-color: var(--bs-gray-light);
      }
    }

    .text-box {
      display: grid;
      width: 50%;

      h3 {
        font-size: 14px;
        color: #0f2237;
      }

      .description {
        font-size: 10px;
        color: $plone-default-published-color;
      }
    }

    .dp-document-creator {
      margin-right: 100px;
    }

    .dp-document-dropdown {
      position: absolute;
      right: 0;
      z-index: 2;

      .dropdown-menu {
        z-index: 1000;
      }
    }
  }
}

div.pat-modal .header {
  height: auto !important;
}

// Modals - Can be removed?
div.pat-modal {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  min-height: 90vh;
  background-color: #fff;

  &::after {
    background-color: rgba(15, 15, 15, 0.84);
  }

  .header {
    height: auto !important;
  }

  &.large {
    width: 90vw;
    margin-left: -45vw;
  }
}

#portal-logo {
  float: left;
}

.preview-tile {
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-color: var(--bs-gray-light);
  color: var(--bs-blue-gray);
}

.text-small {
  font-size: 0.625rem; // 10px
}

.text-medium {
  font-size: 0.875rem; // 14px
}

#portal-footer {
  background-color: #f8f9fa !important;
  min-height: 48px;
}

// Temp Stuff
#portal-mainnavigation {
  display: none;
}

body.template-listing {
  #portal-breadcrumbs,
  header h1,
  #content header {
    display: none;
  }
}

body.template-listing .autotoc-nav,
body.portaltype-dpdocument.template-edit .autotoc-nav {
  display: none !important;
}

//DPDocument Details
.dp-document-header {
    background-color: #fafafa;

  .list-group-item a:not([href]) {
    cursor: default;
    color: gray;
    text-decoration: none;
    opacity: 0.5;
  }
}
