
body.plone-toolbar-left-expanded {
  .offcanvas.offcanvas-end {
    @include media-breakpoint-down(lg) {
      padding-left: var(--plone-toolbar-width);
    }
  }

  #portal-searchbox.offcanvas-top {
      padding-left: var(--plone-toolbar-width);
  }
}

body.plone-toolbar-left {

  .offcanvas.offcanvas-end {
    @include media-breakpoint-down(md) {
      padding-left: var(--plone-toolbar-width-collapsed);
    }
  }

  #portal-searchbox.offcanvas-top {
    @include media-breakpoint-down(md) {
      padding-left: var(--plone-toolbar-width-collapsed);
    }
  }
}

.app-header {
  background-color: #ffffff;
}

.logo-block {
  min-width: 113px;
  height: 72px;
}

.logo-img {
  height: 13px;
  width: 72px;
  object-fit: contain;
}

.divider-small {
  height: 10px;
  width: 10px;
  object-fit: contain;
}

.app-switcher {
  text-transform: uppercase;
}

.app-dropdown-menu {
  .d-table-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;

    &:first-child {
      padding-left: 20px;
    }
  }

  a {
    padding-left: 20px;
    text-decoration: none;
  }

  li:last-child {
    .border-bottom {
      border-bottom: none;
    }
  }
}

.nav-active {
  background-color: var(--bs-light-blue);
  border-bottom: 2px solid var(--bs-primary);
}

.event-switcher,
.event-card {
  height: 72px;
}

.event-switcher-detail {
  .badge,
  .small {
    font-size: var(--dp-font-body);
  }
}

.event-switcher {
  width: 44px;

  > * {
    width: 44px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid var(--bs-blue-gray);
  }
}

.event-dropdown-menu {
  width: 100%;

  .dropdown-item {
    padding: 0px;
    padding-right: var(--bs-dropdown-item-padding-x);

    > div {
      padding: calc(var(--bs-dropdown-item-padding-y) + 10px) 0px;

      &:first-child {
        padding-left: var(--bs-dropdown-item-padding-x);
      }

      > div {
        padding-right: 20px;
      }
    }

    &.last-in-section {
      box-shadow: 0px 5px 5px var(--bs-gray-dark);
      margin-bottom: 10px;
    }
  }

  .icon-column {
    width: 20px;
  }

  .event-title-column a {
    display: inline-block;
    width: 100%;
    padding-top: calc(var(--bs-dropdown-item-padding-y) + 10px);
    padding-bottom: calc(var(--bs-dropdown-item-padding-y) + 10px);
    margin-top: calc((var(--bs-dropdown-item-padding-y) + 10px) * -1);
    margin-bottom: calc((var(--bs-dropdown-item-padding-y) + 10px) * -1);
  }

  li.dropdown-item {
    display: flex;
    background-color: transparent;
    color: var(--bs-dropdown-link-color);

    a {
      padding: unset;

      &:hover {
        background-color: transparent !important;
      }
    }

  }
}

.menu-config-dropdown .selected {
  background-color: var(--bs-light-blue);
}

.icon-with-text {
  margin-right: 15px;
}

.tag-badge {
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-weight: normal;
}

.nav-btn {
  height: 72px;

  .small {
    font-size: var(--dp-font-body);
  }
}

.btn-icon {
  --size: 32px;
  padding: 8px;
  border: 0;
  background: transparent;
  line-height: 1;
  border-radius: 0.25rem;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.right-icons .dropdown-menu li {
  background-color: transparent;
  color: var(--bs-dropdown-link-color);

  a, {
    padding: unset;
    display: unset;
  }
}
