:root {
  --sidebar-width: 113px;
}

.sidebar {
  width: 113px;
  min-width: var(--sidebar-width);
  background-color: #f3f3f3;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 74px;
  left: var(--plone-toolbar-width-collapsed);
  bottom: 0;
  height: 100%;
  border-right: none;
  z-index: 991;
}

body.plone-toolbar-left-expanded .sidebar {
  left: var(--plone-toolbar-width);
}

.sidebar .nav {
  row-gap: 0.5rem;
}

.sidebar .nav-link {
  height: 72px;
  width: 100%;
  border-radius: 0.25rem; /* 4px */
  padding: 0;
}

.sidebar .nav-link .label {
  font-size: var(--dp-font-body);
  line-height: 1.2;
  color: var(--bs-primary);
}

.sidebar .nav-link.active {
  background-color: var(--bs-info);
  font-weight: 600;
}

.sidebar .icon-24 svg {
  width: 24px;
  height: 24px;
  color: #324d6a;
}

.sidebar .zones {
  border-top: 1px solid #e1e6eb;
  height: 62px;
}

.sidebar .zones .col + .col {
  border-left: 1px solid #e1e6eb;
}

.sidebar .zones p {
  margin-bottom: 0;
  font-size: 8px;
}

.sidebar-tz {
  font-size: var(--dp-font-body);
}

/* Tweak the thin divider look in footer */
.sidebar-desktop .border-top {
  border-top-color: #e1e6eb !important;
}

.sidebar-desktop .border-start {
  border-left-color: #e1e6eb !important;
}

.sidebar .zones .name {
  color: var(--bs-primary);
}

.sidebar .zones .val {
  color: #6a829d;
}

.sidebar {
  .nav-link {
    margin: 0 10px;
    width: auto;
  }
  .nav-link:hover {
    background-color: #c3dce7;
  }
}
