
.sidebar {
	width: 113px;
	min-width: 113px;
	background-color: #f3f3f3;
	box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 77px;
  left: 220px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: none;
}

.sidebar .nav { row-gap: .5rem; }

.sidebar .nav-link {
	height: 72px;
	width: 100%;
	border-radius: .25rem; /* 4px */
	padding: 0;
}

.sidebar .nav-link .label {
	font-size: 10px;
	line-height: 1.2;
	color: var(--bs-primary);
}

.sidebar .nav-link.active {
	background-color: var(--bs-info);
	font-weight: 600;
}

.sidebar .icon-24 { width: 24px; height: 24px; }

.sidebar .zones {
	border-top: 1px solid #e1e6eb;
	height: 62px;
}

.sidebar .zones .col + .col { border-left: 1px solid #e1e6eb; }

.sidebar .zones p {
	margin-bottom: 0;
	font-size: 8px;
}

.sidebar .zones .name { color: var(--bs-primary); }
.sidebar .zones .val { color: #6a829d; }
