# announce python version and show the path of the current python in ${PATH}
source bin/activate
echo "Virtualenv has been activated for $(python -V)"
echo "Virtualenv dir: $(which python)"
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node
use node 20.10.0
