[flake8]
exclude =
    *.egg
    .venv
    bootstrap-buildout.py
    bootstrap.py
    collective.*
    docs
    overrides
    plone.*
    setup.py
    template_overrides
extend-ignore =
ignore-names =
    configurationContext
    getNonInstallableProfiles
    setUp
    setUpPloneSite
    setUpZope
    tearDown
inline-quotes = double
max-complexity = 18
max-line-length = 88
