-c constraints.txt

setuptools
zope.testrunner
Products.PloneKeywordManager
pas.plugins.ldap
eea.facetednavigation
collective.impersonate
waitress_fastlisten
coverage

# We use the same requirements.txt for filestorage and relstorage
RelStorage
psycopg2
