#portal-logo-wrapper {
  width: 350px;

  #portal-logo-img img {
    max-width: 200px;
  }
}

#scenario_box-wrapper {
  margin-left: 20px;
  margin-right: 20px;

  .number_of_children.text-bg-secondary {
    font-size: 0.75rem;
    background-color: #bbb;
    color: #666;
  }
}
