@media (min-width: 992px) {
  body.col-one.col-content {
    #portal-column-one {
      width: 30% !important;
    }
    #portal-column-content {
      width: 70% !important;
    }
  }
}

.portlet {
  a {
    text-decoration: none;
  }

  .portletHeader {
    padding: 2px 15px;
  }

  .portletContent {
    > ul > li a {
      padding: 2px 10px 14px 6px;
    }

    > ul time.portletItemDetails {
      margin-top: -24px;
      padding: 6px 16px 0 38px;
      font-weight: 400;
    }
  }

  .navTree {
    a {
      padding-top: 0.3rem !important;
      padding-bottom: 0.3rem !important;

      /* Other styling for invalid links */
      &:not([href]) {
        color: unset;
      }

      span {
        font-size: 0.9rem;
      }

      &.contenttype-elansection {
        span {
          color: #000;
        }
      }
    }

    .section-separator {
      span {
        font-size: 0;
        margin: 5px;
        display: block;
        width: 100%;
        border-bottom: 1px solid black;
      }
    }

    .number_of_children.text-bg-secondary {
      font-size: 0.75rem;
      background-color: #ccc;
      color: #666;
    }
  }

  .card-body ul li a {
    padding: 2px 15px;
  }

  &.portletRecent ul li {
    padding: 2px 15px;
  }

  &.portletRecent header a,
  &#overviewportlet a {
    color: #656565;
    font-size: 18px;
    font-weight: 700;
  }
}

.portletRecent .card-body > ul > li {
  font-size: 18px;
  padding: 0.3rem !important;
}
