/* docpool specific styles css */

// Hide svg icons in the toolbar add menu
#edit-zone .plonetoolbar-contenttype ul.dropdown-menu a > .plone-icon {
  display: none;
}

// Highlight app chooser: https://redmine-koala.bfs.de/issues/5279
#portal-globalnav .apps > a:first-child {
  background-color: #92c2e4;
}

// Different from bootstrap, we have labels under the heading:
.form-label {
  margin-bottom: 0;
}

.form-text {
  margin-bottom: 0.6em;
}

#meta_items {
  img {
    background-color: #ffffff;
    background-image: url("../static/images/bfs-plus-icon.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-top: 10px;
    height: 24px !important;
    margin-bottom: 10px;
  }

  > img.active {
    background-image: url("../static/images/bfs-minus-icon.png");
  }

  .content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

iframe.dpdocument-dview-commenting {
  height: 60em;
}

body.dpdocument-dview-commenting textarea {
  width: 100%;
  height: 20em;
}
