/* docpool specific styles css */

// Hide svg icons in the toolbar add menu
#edit-zone .plonetoolbar-contenttype ul.dropdown-menu a > .plone-icon {
  display: none;
}

// Highlight app chooser: https://redmine-koala.bfs.de/issues/5279
#portal-globalnav .apps > a:first-child {
  background-color: #92c2e4;
}

// Special separator styling: https://redmine-koala.bfs.de/issues/5806
.navbar .separator {
  a {
    font-size: 0;
    display: block;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border-bottom: 1px white solid;
      width: 85%;
      transform: translateY(-50%);
    }
  }
}

// Different from bootstrap, we have labels under the heading:
.form-label {
  margin-bottom: 0;
}

.form-text {
  margin-bottom: 0.6em;
}

#meta_items {
  img {
    background-color: transparent;
    background-image: url("../static/bfs-plus-icon.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 10px;
    height: 24px !important;
    margin-bottom: 10px;

    &.collapsible {
      cursor: pointer;
    }
  }

  > img.active {
    background-image: url("../static/bfs-minus-icon.png");
  }

  .content {
    padding: 0;
    padding-left: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

dl.doc_metadata {
  dt:before {
    display: block;
    content: "";
  }

  dt,
  dd {
    display: inline;
  }
}

iframe.dpdocument-dview-commenting {
  height: 60em;
}

body.dpdocument-dview-commenting textarea {
  width: 100%;
  height: 20em;
}

.pat-discussion {
  .discussion .comment {
    padding: 0.5em;
    position: relative;
  }

  .thread-line-vertical {
    position: absolute;
    top: -18px;
    width: 2px;
    height: 44px;
    left: -9px;
    background-color: #ccc; /* Farbe der Linie */
  }

  .thread-line-horizontal {
    position: absolute;
    background-color: #ccc; /* Farbe der Linie */
    width: 2px;
    transform: rotate(90deg);
    height: 10px;
    top: 21px;
    left: -5px;
  }
}

// Override eea.faceted styling
.select2-results .select2-highlighted {
  color: #00628e !important;
}

body {
  /* Checkbox-Styling */
  .form-check-input {
    border: 1px solid #4d4d4d;
    background-color: #fff;
    border-radius: 0.25em;
  }

  /* Checkbox hover Effekt */
  .form-check-input:hover {
    border-color: #007bb1;
  }

  /* Checkbox wenn angeklickt */
  .form-check-input:checked {
    background-color: #007bb1;
    border-color: #007bb1;
  }
}

// Hide non-default-tabs in edit and add-form for non-admins when adding and editing content
// Do not target link-modal!
form.pat-autotoc.autotabs > .autotoc-nav {
  display: none;
}

body.userrole-manager,
body.userrole-site-administrator,
body.userrole-contentadmin {
  form.pat-autotoc.autotabs > .autotoc-nav {
    display: block;
  }
}

#content {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  .lead {
    font-size: 1.125rem;
  }
}

// Hide "No items" in Konfiguration (config) for dtypes only
// https://redmine-koala.bfs.de/issues/6059
body.portaltype-doctype.section-config.subsection-dtypes #folder-listing {
  display: none;
}
