/* docpool specific styles css */

// Hide svg icons in the toolbar add menu
#edit-zone .plonetoolbar-contenttype ul.dropdown-menu a > .plone-icon {
  display: none;
}

// Highlight app chooser: https://redmine-koala.bfs.de/issues/5279
#portal-globalnav .apps > a:first-child {
  background-color: #92c2e4;
}

// Different from bootstrap, we have labels under the heading:
.form-label {
  margin-bottom: 0;
}

.form-text {
  margin-bottom: 0.6em;
}

#meta_items {
  img {
    background-color: transparent;
    background-image: url("../static/bfs-plus-icon.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 10px;
    height: 24px !important;
    margin-bottom: 10px;

    &.collapsible {
      cursor: pointer;
    }
  }

  > img.active {
    background-image: url("../static/bfs-minus-icon.png");
  }

  .content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

iframe.dpdocument-dview-commenting {
  height: 60em;
}

body.dpdocument-dview-commenting textarea {
  width: 100%;
  height: 20em;
}

.pat-discussion {
  .discussion .comment {
    padding: 0.5em;
    position: relative;
  }

  .thread-line-vertical {
    position: absolute;
    top: -18px;
    width: 2px;
    height: 44px;
    left: -9px;
    background-color: #ccc; /* Farbe der Linie */
  }

  .thread-line-horizontal {
    position: absolute;
    background-color: #ccc; /* Farbe der Linie */
    width: 2px;
    transform: rotate(90deg);
    height: 10px;
    top: 21px;
    left: -5px;
  }
}

// Override eea.faceted styling
.select2-results .select2-highlighted {
  color: #00628e !important;
}

body {
  /* Checkbox-Styling */
  .form-check-input {
    border: 1px solid #4d4d4d;
    background-color: #fff;
    border-radius: 0.25em;
  }

  /* Checkbox hover Effekt */
  .form-check-input:hover {
    border-color: #007bb1;
  }

  /* Checkbox wenn angeklickt */
  .form-check-input:checked {
    background-color: #007bb1;
    border-color: #007bb1;
  }
}
