/* The 16-column ELAN-E Grid System.
 *
 * Cells are 6.25% width, 0% left/right margin.
 *
 * If page width is fixed to 960px width:
 * Cell will be equivalent to 60px, left/right margin will be 0px.
 */

div.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
div.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Width classes.
   For a given cell width, the calculation is: width: (6.25*n)% */
div.width-1 {
  width: 6.25%;
}
div.width-2 {
  width: 12.5%;
}
div.width-3 {
  width: 18.75%;
}
div.width-4 {
  width: 25%;
}
div.width-5 {
  width: 31.25%;
}
div.width-6 {
  width: 37.5%;
}
div.width-7 {
  width: 43.75%;
}
div.width-8 {
  width: 50%;
}
div.width-9 {
  width: 56.25%;
}
div.width-10 {
  width: 62.5%;
}
div.width-11 {
  width: 68.75%;
}
div.width-12 {
  width: 75%;
}
div.width-13 {
  width: 81.25%;
}
div.width-14 {
  width: 87.5%;
}
div.width-15 {
  width: 93.75%;
}
div.width-16 {
  width: 100%;
}

/* Positioning classes, these are subtracting from a rightmost
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is margin-left: -100 + (6.25*n) + 1.125 */
div.position-0 {
  margin-left: -100%;
}
div.position-1 {
  margin-left: -93.75%;
}
div.position-2 {
  margin-left: -87.5%;
}
div.position-3 {
  margin-left: -81.25%;
}
div.position-4 {
  margin-left: -75%;
}
div.position-5 {
  margin-left: -68.75%;
}
div.position-6 {
  margin-left: -62.5%;
}
div.position-7 {
  margin-left: -56.25%;
}
div.position-8 {
  margin-left: -50%;
}
div.position-9 {
  margin-left: -43.75%;
}
div.position-10 {
  margin-left: -37.5%;
}
div.position-11 {
  margin-left: -31.25%;
}
div.position-12 {
  margin-left: -25%;
}
div.position-13 {
  margin-left: -18.75%;
}
div.position-14 {
  margin-left: -12.5%;
}
div.position-15 {
  margin-left: -6.25%;
}

/* End of the core Deco Grid System */

div.width-1\3a 2 {
  width: 58%;
} /* .width-1:2 */
div.width-1\3a 4 {
  width: 20%;
} /* .width-1:4 */
div.width-3\3a 4 {
  width: 78%;
} /* .width-3:4 */
div.width-full {
  width: 100%;
}
div.position-1\3a 4 {
  margin-left: -80%;
} /* .position-1:4 */
div.position-1\3a 2 {
  margin-left: -60%;
} /* .position-1:2 */
div.position-3\3a 4 {
  margin-left: -20%;
} /* .position-3:4 */

div.width-1\3a 3 {
  width: 33.33%;
} /* .width-1:3 */
div.width-2\3a 3 {
  width: 66.66%;
} /* .width-2:3 */
div.position-1\3a 3 {
  margin-left: -66.66%;
} /* .position-1:3 */
div.position-2\3a 3 {
  margin-left: -33.33%;
} /* .position-2:3 */
