.template-objekt_liste  div#portal-columns { width: auto; }
.template-objekt_liste  div#portal-column-content { width: 100%; float:left; }
.template-objekt_liste #portal-column-one { display: none; }
.template-objekt_liste div#visual-portal-wrapper { width:auto; background: white; }

.dbadmin .sortselect {
	
}

.dbadmin form div label {
    display:inline;
    float:left;
    margin:0 8px 0 0;
    padding:4px;
    text-align:left;
    width:30%;
}

.dbadmin #objekt_edit div label.field_req:after {
	content: "*";
}

.dbadmin form div input, .dbadmin form div select, .dbadmin form div textarea {
	margin-bottom:4px;
	text-indent:4px;
	width:329px;	
	display:inline;
	height:1.6em;
	vertical-align:top;
}

.dbadmin form div select[multiple="multiple"] {
	height: auto;
}

.dbadmin form div textarea {
	height: auto;
} 

input.datefrom, input.dateuntil {
	width: 157px !important;
}

input.dateuntil {
	margin-left: 9px;
}

.dbadmin form div select {
	width:331px;
}

.dbadmin form div input[type="checkbox"] {
	width: 16px;
 	position: relative;
    top: 4px;
    clear: both;
    float: left;
} 

.dbadmin form div.fafield {
	overflow: hidden;
}

.dbadmin label.field_opt, .dbadmin label.field_req {
    float: left;
    text-align: right;
    margin-right: 1em;
    width: 10em;
}

.dbadmin form div {
    float: left;
    width: 100%;
}

.dbadmin form div.inputs {
	width: 400px;
}

.dbadmin table {
	border: 1px;
	float: left;
	background: white;
	clear: both;
}

.dbadmin table th {
    font-weight: bold; 
}

.dbadmin table th, .dbadmin table td {
	text-align: left;
	border: 1px solid;
	padding: 1px 5px;
}

.dbadmin .field_error {
	color: red;
}

#filtertoggle {
	cursor: pointer;
}

.dbadmin #objekt_edit div label.field_req:after {
	content: "*";
}

.dbadmin form table .check {
	width: 16px;
}

.dbadmin form table .editlink {
	width: 50px;
}

.dbadmin div.formcontrols,
.dbadmin div#formcontrols {
    padding-top: 10px;
    padding-bottom: 1px;
}

.dbadmin div.formcontrols input,
.dbadmin div#formcontrols input {
    cursor: pointer;
    height: 24px;
    margin: 0 8px 0 0;
    padding: 0 0 6px;
    width: 96px;
    font-size: 12px;
    text-align: left;
    text-transform: none;
}


#importfile_id {
}
	
#importfile_id label {
	width: 100px;
}

#import, #export, #report {
	margin-top: 24px;
	float: left;
	width: 280px;
	padding-right: 1em;
}

#import select, #export select, #report select {
	width: 150px !important;
}
