/* line 5, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
.visualization .pdflink {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 9, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
.visualization .map {
  float: left;
}
/* line 10, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
.visualization .map img {
  max-width: 180px;
  height: auto;
}
/* line 17, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
.visualization .legend img {
  max-width: 100px;
  height: auto;
}
@media (min-width: 992px) {
  /* line 30, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
  .visualization .map {
    float: left;
  }
  /* line 31, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
  .visualization .map img {
    max-width: 360px;
    height: auto;
  }
  /* line 38, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
  .visualization .legend img {
    max-width: 200px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  /* line 47, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
  .visualization .map {
    float: left;
  }
  /* line 48, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
  .visualization .map img {
    max-width: 540px;
    height: auto;
  }
  /* line 55, http://localhost:8081/Plone/++plone++docpool.config/docpool-config.less */
  .visualization .legend img {
    max-width: 300px;
    height: auto;
  }
}

