body#visual-portal-wrapper.pat-plone .outer-wrapper {
    [class*="contenttype-"]:before{
        content: none;
    }
}

body#visual-portal-wrapper.pat-plone #edit-zone {
    [class*="contenttype-"]:before{
        content: none;
    }
}


table#fctable {
	.actions { 
		input[type=checkbox], a.action { display:block; margin-bottom: 8px; }
	}
}

.app_icon {
    display: inline;
}

.app_icons {
    display: block;
}
