/* Stylesheet for the 'elantheme' Plone theme */

#plone-contentmenu-display {
	display: none !important;
}

.portaltype-templateddocument #contentview-edit, .portaltype-elanesd #contentview-edit {
	display: none !important;
}

#contentview-metadata {
	display: none !important;
}

.portaltype-dpdocument, .portaltype-infodocument {
    #contentview-local_roles {
        display: none !important;
    }
}

.userrole-site #contentview-local_roles, .userrole-manager #contentview-local_roles {
    display: inline !important;
}

ul.formTabs {
	display: none !important;
}

div.fieldTextFormat {
	display: none !important;
}

#cke_path_text {
	display: none !important;
}

#formfield-form-widgets-docType {
	display: none !important;
}

a#advanced {
	display: none !important;
}

#contentview-user_data-personal-information, #contentview-user_data-personal-preferences {
	display: none !important;
}

#plone-contentmenu-portletmanager, #contentview-history {
    display: none !important;
}
.portaltype-plone-site {
    #contentview-local_roles {
        display: none !important;
    }
}
/*
#portal-globalnav li.config {
	display: none !important;
}
*/

.plonetoolbar-workfow-transition {
    #workflow-transition-advanced, #workflow-transition-policy {
        display: none;
    }
}

.template-edit.portaltype-dpdocument.docstate-published .field {
    display: none;
}

.template-edit.portaltype-dpdocument.docstate-published #formfield-form-widgets-IELANDocument-scenarios {
    display: block;
}

.viewpermission-modify-portal-content #formfield-form-widgets-ILocalBehaviorSupport-local_behaviors {
    display: none;
}