// Needed imports for breakpoint mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

.visualization {
  .pdflink {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .map {
    img {
      max-width: 180px;
      height: auto;
    }
    float: left;
  }
  .legend {
    img {
      max-width: 100px;
      height: auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .visualization {
    .map {
      img {
        max-width: 360px;
        height: auto;
      }
      float: left;
    }
    .legend {
      img {
        max-width: 200px;
        height: auto;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .visualization {
    .map {
      img {
        max-width: 540px;
        height: auto;
      }
      float: left;
    }
    .legend {
      img {
        max-width: 300px;
        height: auto;
      }
    }
  }
}
