$plone-default-private-color: #ff0000;
$plone-default-pending-color: #ccd111;
$plone-default-pending_bfs-color: #ffaa00;
$plone-default-pending_authority-color: #d07317;
$plone-default-pending_bmu-color: #75a30a;
$plone-default-published-color: #007bb1;
$plone-default-revised-color: #7a561f;

.plone-toolbar #edit-zone nav > ul ul {
  .state-private::after {
    color: $plone-default-private-color !important;
  }
}

#edit-zone nav > ul {
  a.label-state-private > span::before {
    color: $plone-default-private-color !important;
  }
  a.label-state-pending_bfs > span::before {
    color: $plone-default-pending_bfs-color !important;
  }
  a.label-state-pending_authority > span::before {
    color: $plone-default-pending_authority-color !important;
  }
  a.label-state-pending_bmu > span::before {
    color: $plone-default-pending_bmu-color !important;
  }
  a.label-state-publised > span::before {
    color: $plone-default-published-color !important;
  }
  a.label-state-revised > span::before {
    color: $plone-default-revised-color !important;
  }
}

.state-private {
  color: $plone-default-private-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-private-color, 15%) !important;
  }
}

.state-pending {
  color: $plone-default-pending-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-pending-color, 15%) !important;
  }
}

.state-pending_authority {
  color: $plone-default-pending_authority-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-pending_authority-color, 15%) !important;
  }
}

.state-pending_bmu {
  color: $plone-default-pending_bmu-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-pending_bmu-color, 15%) !important;
  }
}

.state-pending_bfs {
  color: $plone-default-pending_bfs-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-pending_bfs-color, 15%) !important;
  }
}

.state-published {
  color: $plone-default-published-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-published-color, 15%) !important;
  }
}

.state-revised {
  color: $plone-default-revised-color !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($plone-default-revised-color, 15%) !important;
  }
}
