[theme]
title = Docpool UI
description = The BfS Docpool UI theme
preview =
rules =
prefix = /++theme++docpooluitheme
doctype = <!DOCTYPE html>
enabled-bundles =
disabled-bundles =

# Resources must be registered either here in the Diazo bundle or in registry.xml
development-css =
production-css =
tinymce-content-css = /++plone++docpoolui/build/base.css
development-js =
production-js =
