<!doctype html>
<html>
  <head>
    <title>Plone Theme</title>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %> <% if
    (htmlWebpackPlugin.files.chunks[chunk].css[0]) { %>
    <link
      rel="stylesheet"
      data-name="bundle-<%= chunk %>"
      href="<%= htmlWebpackPlugin.files.chunks[chunk].css[0] %>"
    />
    <% }} %>
  </head>
  <body>
    <article id="portal-column-content"></article>
    <script
      data-name="bundle-promise"
      src="<%= webpackConfig.output.publicPath.replace(/\/+$/, '')%>/polyfills/es6-promise.auto.min.js"
    ></script>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script
      data-name="bundle-<%= chunk %>"
      src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
    ></script>
    <% } %>
  </body>
</html>
