@import "++theme++barceloneta/less/variables.plone.less";

.srscenario {
    th, td {
        border: 1px solid !important;
        ul {
            list-style-position: inside;
            padding-left: 0;
        }
    }
}
.portaltype-situationoverview {
    #sidebar {
        display: none;
    }
    .col-sm-9 {
        width: 100%;
    }
    #viewlet-below-content-body {
        clear: both;
    }
    .reportselection {
        label {float: left;}
        .reportuid {
            width: auto;
            float: left;            
        }
    }
}

.portaltype-situationreport {
    .formControls.publish {
        border-top: none;
    }
}

.portaltype-srmoduletype, .portaltype-srmoduletypes {
    #formfield-form-widgets-allowedDocTypes, #formfield-form-widgets-IELANDocType-contentCategory  {
        display: none;
    }
}

.image .caption {
    display: block;
}


