@import "++theme++barceloneta/less/variables.plone.less";

.srscenario {
    th, td {
        border: 1px solid !important;
        ul {
            list-style-position: inside;
            padding-left: 0;
        }
    }
}

@media (min-width: @plone-screen-sm-min) { 
    
}
@media (min-width: @plone-screen-md-min) { 

}
@media (min-width: @plone-screen-lg-min) { 
}
